@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap'); 

body{
    background-image:url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container h2 {
    text-align: center;
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-family: "Jersey 15", sans-serif;
}
p{
    font-family: "Jersey 15", sans-serif;
    font-weight: bolder;
}